li {
    list-style: none;
    min-width: 200px;
    background-color: orange;
    padding: 10px;
    margin: 5px 0;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

ul {
    padding: 0;
}

.listButton {
    background-color: rgb(255, 238, 0);
    padding: 5px 10px;
    border-radius: 20px;
}