* {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    background-color: gray;
}

/* 
.main {
    min-height: 100vh;
    min-width: 100vw;
    background-color: green;
    position: relative;
}

.signup-btn{
    position: static;
    right: 100px;
    top: 50px;
    height: 40px;
    width: 100px;
}

.signup-btn > span{
    position: relative;
}


.signup-btn > span > img{
    position: absolute;
    left: -50px;
    top: -30px;
}


.circle{
    position: absolute;
    height: 500px;
    width: 500px;
    background-color: #fff;
    border-radius: 50%;
    bottom: 0px;
    right: 100px;
} */
/* 
.zindexBox{
    background-color: white;
    height: 500px;
    width: 500px;   
    position: relative;
}

.one,.two,.three{
    height: 100px;
    width: 100px;
    position: absolute;
}
.zindexBox .one{
    background-color: red;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.zindexBox .two{
    background-color: green;
    left: 20px;
    top: 20px;
    z-index: 2;

}

.zindexBox .three{
    background-color: blue;
    left: 40px;
    top: 40px;
    z-index: 1;
} */

.grid {
    background-color: white;
}

.grid div{
    margin-bottom: 20px;
}

.g-940 {
    background-color: palevioletred;
    height: 150px;
    width: 940px;
}

.g-460 > div,
.g-140 > div,
.g-220 > div,
.g-300 > div{
    margin-right: 20px;
}

.g-460 div{
    background-color: palevioletred;
    height: 150px;
    width: 460px;
    display: inline-block;
}

.g-300 div{
    background-color: palevioletred;
    height: 150px;
    width: 300px;
    display: inline-block;
}

.g-220 div{
    background-color: palevioletred;
    height: 150px;
    width: 220px;
    display: inline-block;
}

.g-140 div{
    background-color: palevioletred;
    height: 150px;
    width: 140px;
    display: inline-block;
}