* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.leftComponent {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rightComponent {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.barayPappa {
  display: flex;
  height: 100vh;
}
